/* 地球 */
.earthThumbnail {
  background-image: url("/partImg/nailPaletteNoBg.png");
  padding-right: 15%;
}

.appNpHome {
  background-image: url("/partImg/home.png");
}
.appNpConfirmation {
  background-image: url("/partImg/confirmation.png");
}
.appNpShopping {
  background-image: url("/partImg/shopping.png");
}
.appNpKeep {
  background-image: url("/partImg/keep.png");
}
.appNpKeepDetails {
  background-image: url("/partImg/keepDetails.png");
}
.appNpMenu {
  background-image: url("/partImg/menu.png");
}
.appNpPost {
  background-image: url("/partImg/post.png");
}
.appNpMessage {
  background-image: url("/partImg/Message.png");
}
.appNpPostComplete {
  background-image: url("/partImg/postComplete.png");
}
.appNpMyPage {
  background-image: url("/partImg/myPage.png");
}
.appNpProfile {
  background-image: url("/partImg/profile.png");
}
.appNpTrade {
  background-image: url("/partImg/trade.png");
}
.appNpTradeComplete {
  background-image: url("/partImg/tradeComplete.png");
}
