.choice {
  margin-top: 25rem;
}
.question {
  color: #fff;
  text-align: center;
  font-family: "Kaisei Decol";
  font-size: 2.6rem;
  font-weight: 500;
  padding-bottom: 15rem;
}
.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("/bgImg/line.png");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}
.crewWrapper {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media screen and (max-width: 1235px) {
  .crewWrapper {
    margin-bottom: 15%;
  }
}

.crewWrapper p {
  color: #fff;
  font-family: "Kaisei Decol";
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 6rem;
  background-color: rgba(255, 255, 255, 0);
}
.crewA,
.crewB,
.crewC {
  background-image: url("/partImg/yu.png");
  background-size: 70%;
  /* ↑これは後で消す。下のコードに後で自分で描いたイラストに変える。それに伴って、bgsとかも変えて。 */
  background-repeat: no-repeat;
  background-position: center;
  width: 40rem;
  height: 40rem;
  margin: 5% 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 5;
}
/* .crewA {
  background-image: url("/partImg/.png");
    background-size: ?%;

}
.crewB {
  background-image: url("/partImg/.png");
    background-size: ?%;

}
.crewC {
  background-image: url("/partImg/.png");
    background-size: ?%;

} */
.crewA:hover,
.crewB:hover,
.crewC:hover {
  background-size: 75%;
  transition: 0.3s ease-in;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes moveDownUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.crewA,
.crewC {
  animation: moveUpDown 2s infinite ease-in-out;
}

.crewB {
  animation: moveDownUp 3s infinite ease-in-out;
}

.crewA {
  /* border: #fff 1px solid; */
  transform: rotate(-10deg);
}
@media screen and (max-width: 768px) {
  .crewA {
    margin-right: 10%;
  }
}

.crewB {
  /* イラスト入れる */
}
.crewC {
  /* border: #fff 1px solid; */
  transform: rotate(10deg);
}
@media screen and (max-width: 768px) {
  .crewC {
    margin-left: 3%;
  }
}
