.worksBg {
  margin-top: 26.5rem;
  background-image: url("/bgImg/Galaxy.jpg");
  /* ↑は仮置き画像 */
  width: 100%;
  height: 110vh;
  position: relative;
}

/* 上下のグラデーション */
.worksBg::before,
.worksBg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5rem;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(9, 6, 17, 1) 0%,
    rgba(9, 6, 17, 0) 100%
  );
}

.worksBg::before {
  top: 0;
}

.worksBg::after {
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(9, 6, 17, 0) 0%,
    rgba(9, 6, 17, 1) 100%
  );
}

@media screen and (max-width: 1280px) {
  .worksBg {
    height: 120vh;
  }
}

@media screen and (max-width: 768px) {
  .worksBg {
    height: 160vh;
  }
}

.title {
  color: #fff;
  font-family: "Abril Fatface", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  background: none;
  margin: 0 5%;
  padding-top: 5rem;
  /* border: #fff 1px solid; */
}

/* ここから宇宙のレイアウト */
.planetWrapper {
  /* border: #fff 1px solid; */
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* 縦 */
@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3rem);
  }
}
/* 横 */
@keyframes floatX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2rem);
  }
}

.planet {
  background-color: rgba(255, 255, 255, 0);
  width: 33.333%;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  will-change: transform;
}

.planet:not(.me) {
  animation: floatY 3s ease-in-out infinite alternate,
    floatX 4s ease-in-out infinite alternate;
}

/* "me" だけ Y 軸のアニメーションに固定 */
.planet.me {
  animation: floatY 3s ease-in-out infinite alternate !important;
}

.planet a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.planetImage {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15rem;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  transition: transform 0.5s ease;
}

.planetImage:hover {
  transform: scale(1.1);
}

/* 各惑星の画像設定 */
.mercury {
  background-image: url("/partImg/mercury.png");
  bottom: 0;
  right: 15%;
}

.venus {
  background-image: url("/partImg/venus.png");
  top: 0;
}

.earth {
  background-image: url("/partImg/earth.png");
  bottom: 0;
  left: 15%;
}

.neptune {
  background-image: url("/partImg/neptune.png");
  left: 0;
}

/* キャラクター画像 */
.me {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0);
}

/* デフォルトキャラクターのスタイル */
.me.default {
  background-image: url("/partImg/me.png");
}
.mars {
  background-image: url("/partImg/mars.png");
  right: 0;
}

.heavenlyStar {
  background-image: url("/partImg/heavenlyStar.png");
  top: 0;
  right: 15%;
}

.saturn {
  background-image: url("/partImg/saturn.png");
  bottom: 0;
}

.jupiter {
  background-image: url("/partImg/jupiter.png");
  top: 0;
  left: 15%;
}

/* 1040px以下の時 */
@media screen and (max-width: 1040px) {
  .planetImage {
    background-size: 90%;
  }
}

/* 768px以下の時 */
@media screen and (max-width: 768px) {
  .title {
    padding: 5rem 0;
  }
  .planetWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 600px;
    margin: 0 auto;
  }

  .planet {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .planetImage {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
  }

  /* .me だけ2列分の幅を取る */
  .me {
    grid-column: span 2;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}
.planetImage.visited {
  opacity: 0.5;
}
